In [2]:
import pandas as pd

In [3]:
#Q1
data=[4, 8, 15, 16, 23,42]
series=pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#Q2
data2=[]
for i in range(1,10+1):
    i=i**i
    data2.append(i)
print(data2)

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

In [5]:
dat2=data2
series2=pd.Series(dat2)
print(series2)

0              1
1              4
2             27
3            256
4           3125
5          46656
6         823543
7       16777216
8      387420489
9    10000000000
dtype: int64

In [6]:
#Q3
data3={
    'Name':["Alice","Bob","Claire"],
    "Age":["25","30","27"],
    "Gender":["Female","male","Female"],
}
datframe=pd.DataFrame(data3)
print(datframe)

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    male
2  Claire  27  Female

#Q4
In Pandas, a DataFrame is a two-dimensional tabular data structure, similar to a spreadsheet or an SQL table. It is a collection of Series objects, where each Series represents a column of data. A DataFrame can contain different data types in its columns and can handle data of heterogeneous types.

On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding any data type. It is similar to a list or a NumPy array but has an associated set of labels, called the index, which allows for easy and efficient data alignment.

In [7]:
#ex:
#dataframe
data3={
    'Name':["Alice","Bob","Claire"],
    "Age":["25","30","27"],
    "Gender":["Female","male","Female"],
}
datframe=pd.DataFrame(data3)
print(datframe,'\n')

#Series
series2=pd.Series(dat2)
print(series2)

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    male
2  Claire  27  Female

0              1
1              4
2             27
3            256
4           3125
5          46656
6         823543
7       16777216
8      387420489
9    10000000000
dtype: int64

#Q5
 What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions include:

head(): It returns the first few rows of the DataFrame (default 5 rows).

tail(): It returns the last few rows of the DataFrame (default 5 rows).

info(): It provides a concise summary of the DataFrame, including column names, non-null values, and data types.

describe(): It generates descriptive statistics of the DataFrame, such as count, mean, min, max, etc.

drop(): It is used to remove rows or columns from the DataFrame.

groupby(): It is used to group data based on a specific column(s) and perform aggregate functions on the grouped data.

In [13]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
df = pd.read_csv(url, names=columns)

In [14]:
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [15]:
print(df.tail())

     sepal_length  sepal_width  petal_length  petal_width           class
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [16]:
print(df.tail())

     sepal_length  sepal_width  petal_length  petal_width           class
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [22]:
print(df.describe())

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [26]:
print(df.drop('class',axis=1))

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [32]:
group=df.groupby('sepal_length').std()
print(group)

              sepal_width  petal_length  petal_width
sepal_length
4.3                   NaN           NaN          NaN
4.4              0.152753      0.057735     0.000000
4.5                   NaN           NaN          NaN
4.6              0.221736      0.221736     0.050000
4.7              0.000000      0.212132     0.000000
4.8              0.204939      0.204939     0.070711
4.9              0.326599      1.309071     0.671317
5.0              0.543241      0.834266     0.326769
5.1              0.411636      0.504425     0.282843
5.2              0.573730      1.217580     0.618466
5.3                   NaN           NaN          NaN
5.4              0.350714      1.217648     0.491596
5.5              0.723089      1.302196     0.489898
5.6              0.194079      0.456070     0.312517
5.7              0.656832      1.296630     0.545108
5.8              0.494734      1.381683     0.728011
5.9              0.115470      0.458258     0.173205
6.0              0.471876      0.403733     0.268328
6.1              0.151658      0.516720     0.204124
6.2              0.492443      0.479583     0.434933
6.3              0.400347      0.504975     0.407567
6.4              0.207020      0.534968     0.368394
6.5              0.141421      0.450555     0.264575
6.6              0.070711      0.141421     0.070711
6.7              0.250713      0.523552     0.420671
6.8              0.200000      0.556776     0.472582
6.9              0.050000      0.350000     0.378594
7.0                   NaN           NaN          NaN
7.1                   NaN           NaN          NaN
7.2              0.305505      0.152753     0.472582
7.3                   NaN           NaN          NaN
7.4                   NaN           NaN          NaN
7.6                   NaN           NaN          NaN
7.7              0.525991      0.346410     0.141421
7.9                   NaN           NaN          NaN

<ipython-input-32-e991ff4e091b>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group=df.groupby('sepal_length').std()

#Q6
In Pandas, both Series and DataFrame are mutable objects, meaning you can modify their content after creation. However, Panel objects, which were part of Pandas in earlier versions, have been deprecated, and multi-dimensional data is now typically handled using other data structures like DataFrame with MultiIndex or three-dimensional arrays

In [34]:

dataName=["Alice","Bob","Claire"]
dataAge=["25","30","27"]
dataGen=["Female","male","Female"]
data6={
    'Name':dataName,
    "Age":dataAge,
    "Gender":dataGen,
}
datframe=pd.DataFrame(data6)
print(datframe)

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    male
2  Claire  27  Female